applications:
- name: template-websocket-server
  instances: 1
  memory: 512M
  timeout: 180
  path: target/predix-websocket-server-2.0.3.jar
#  services:
#    - ${rabbitMQService}
env:
  fieldChangedEvent_ErrorQueue: FieldChangedEventErrorQueue
  fieldChangedEvent_MainQueue: FieldChangedEventMainQueue
